@page "/Courses"
@model CoursesModel
<h4>List of Courses</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Text Book</th>
            <th scope="col">Credit Hrs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <th scope="row">1</th>
                <td>@course.Name</td>
                <td>@course.TextBook</td>
                <td>@course.CreditHrs</td>
            </tr>
        }

    </tbody>
</table>